@font-face {
    font-family: 'Hi Melody';
    src:  url('./my-font.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Hi Melody';
    background: url('./icon.png');
    background-repeat: no-repeat;
}